<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Прогноз Bitcoin</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <a href="/login">Log out</a>
    <div class="container">
        <h1>Прогнозування ціни Bitcoin</h1>

        {% if image_path %}
        <div class="result">
            <h2>Графік прогнозу:</h2>
            <img src="{{ image_path }}" alt="Графік прогнозу">
        </div>
        {% else %}
        <p>Очікується завантаження графіка...</p>
        {% endif %}
    </div>
</body>
</html>
