<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Авторизація</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Авторизація</h1>
        <form action="/login" method="POST">
            <label for="username">Ім’я користувача:</label>
            <input type="text" name="username" required>

            <label for="password">Пароль:</label>
            <input type="password" name="password" required>

            <button type="submit">Увійти</button>
        </form>
        <p>Ще не маєте акаунта? <a href="/register">Зареєструватися</a></p>
    </div>
</body>
</html>
